@model UserModel

@{
    ViewData["Title"] = $"{Model.SecondName} {Model.FirstName} {Model.PatronymicName}";
}

<h1>@ViewData["Title"]</h1>

<div class="card">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="@Model.Picture" class="img-fluid rounded-start">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Email</h5>
                <p class="card-text">@Model.Email</p>

                @if (!string.IsNullOrEmpty(Model.About))
                {
                    <h5 class="card-title">Об авторе</h5>
                    <p class="card-text">@Model.About</p>
                }

                <h5 class="card-title">Опубликовано статей</h5>
                <p class="card-text">@Model.Posts.Count</p>

                <h5 class="card-title">День рождения</h5>
                <p class="card-text">@Model.BirthDate?.ToShortDateString()</p>

                <h5 class="card-title">Зарегестрирован на сайте</h5>
                <p class="card-text">@Model.RegisterDate.ToShortDateString()</p>

                @if(Model.Posts.Count > 0)
                {
                    <p>
                        <a class="card-link" asp-action="Author" asp-controller="Posts" asp-route-id="@Model.Id">Все статьи автора</a>
                    </p>                    
                }

                <div>
                    @if (User.IsInRole("Администратор") || User.Identity!.Name == Model.Email)
                    {
                        <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a>
                    }
                    
                    @if (User.IsInRole("Администратор"))
                    {
                        <form class="form-inline" method="post" asp-action="Delete">
                            <input asp-for="Id" type="hidden" />
                            <button type="submit" class="btn btn-outline-danger">Удалить</button>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>