@model List<PostModel>

@{
    ViewData["Title"] = "Все статьи";
}

<h1>@ViewData["Title"]</h1>

@if (User.Identity!.IsAuthenticated)
{
    <div class="mb-3">
        <a asp-area="" class="link-primary" asp-controller="Posts" asp-action="Add">Добавить статью</a>
    </div>
}

<div class="post-list">
    @foreach (var post in Model)
    {
        <div class="card mb-3">
            <div class="card-body">
                <a class="card-link" asp-action="Index" asp-controller="Posts" asp-route-id="@post.Id">@post.Title</a>

                <p>
                    @foreach (var tag in post.Tags)
                    {
                        <span class="badge badge-info">@tag.Name</span>
                    }
                </p>

                <p class="card-text align-content-end">Просмотров: @post.Views</p>
            </div>
        </div>
    }
</div>