@model EditPostViewModel

@{
    ViewData["Title"] = "Редактирование статьи";
}

<h1>@ViewData["Title"]</h1>

@section Scripts {
    <script type="text/javascript" src="~/js/Post.js"></script>
}

<form method="post" asp-controller="Posts" asp-action="Edit" asp-route-id="@null">
    <div class="tags">
        @foreach (var tag in Model.Tags)
        {
            <div class="form-check-inline">
                <input class="form-check-input" type="checkbox" value="" id="tag-@(tag.Id)" onclick="AddTag(this);selectedTagIds.setCustomValidity('');" @(Model.Post.Tags.Any(x => x.Id == tag.Id) ? "checked" : null)>
                <label class="form-check-label" for="tag-@(tag.Id)">
                    @tag.Name
                </label>
            </div>
        }

        <div>
            <span asp-validation-for="SelectedTagIds"></span>
            <input class="hidden-input" asp-for="SelectedTagIds" id="selectedTagIds" required oninvalid="setCustomValidity('Выберите минимум один тэг');" value="@string.Join(',', Model.Post.Tags.Select(x => x.Id).ToArray())" />
        </div>
    </div>

    <div class="mb-3">
        <label for="title">Заголовок</label>
        <input asp-for="Post.Title" id="title" class="form-control" type="text" required minlength="10" maxlength="50" />
        <span asp-validation-for="Post.Title"></span>
    </div>
    <div class="mb-3">
        <label for="description">Краткое описание</label>
        <input asp-for="Post.Description" id="description" class="form-control" type="text" required minlength="10" maxlength="100"/>
        <span asp-validation-for="Post.Title"></span>
    </div>
    <div class="mb-3">
        <label for="content">Контент</label>
        <textarea asp-for="Post.Content" id="content" class="form-control" required minlength="10"></textarea>
    </div>

    <button class="btn btn-primary" type="submit">Сохранить</button>

    <input type="hidden" asp-for="Post.Id" id="Id" />
</form>

<div>
    <a asp-area="" class="link-primary" asp-controller="Posts" asp-action="All">Список всех статей</a>
</div>